@import './../../common/mixins';

.update-oracle {
    padding: 0.5rem 1rem;
    background-color: #44c4a1;
    display: flex;
    align-items: center;
    color: $WHITE;
    transition: background-color 0.4s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: #e04f5f;
    }

    &__img {
        width: 20px;
        margin-right: 0.5rem;
    }
}
