@import './../../common/mixins';

.table {
    position: relative;
    z-index: 1;
    overflow: auto;
    max-height: calc(100vh - 270px);

    &_half {
        max-height: calc(50vh - 200px);
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        font-size: 14px;

        thead {
            th {
                background-color: #fff;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
        }

        th,
        td {
            text-align: left;
            padding: 8px 12px;
            border-bottom: 1px solid $GRAY_3;
            white-space: nowrap;
        }

        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }

        th {
            font-weight: 500;
        }

        [data-validate='true'] {
            background-color: $RED_4;
        }
    }
}
