doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='shortcut icon', href='https://fleetcor.de/sites/fleetcor.de/files/favicon_0.ico', type='image/vnd.microsoft.icon')
    block stylesheet
  body
    block content
