<template>
    <template if:true={isLoading}>
        <z-spinner text="loading result..."></z-spinner>
    </template>
    <template if:false={isLoading}>
        <div class="container">
            <div class="show-result mt-2">
                <div class="show-result__header mb-1">
                    <span class="show-result__count"
                          data-title="Total: ">{total}</span>
                    <span class="show-result__count show-result__count_success"
                          data-title="Success: ">{success}</span>
                    <span class="show-result__count show-result__count_error"
                          data-title="Error: ">{actualData.length}</span>
                </div>
                <template if:true={actualColumns}>
                    <div class="show-result__table">
                        <z-table columns={actualColumns}
                                 all-rows={actualData}></z-table>
                    </div>
                </template>
                <div class="show-result__footer py-2">
                    <a href="javascript:void(0)"
                       class="button"
                       onclick={closeReport}>Close Report</a>
                    <template if:true={urlFile}>
                        <a href={urlFile}
                           class="button ml-2">Download Report</a>
                    </template>
                </div>
            </div>
        </div>

    </template>
</template>