@import './../../common/mixins';

.show-result {
    &__header {
        text-align: center;
    }

    &__count {
        margin: 0 0.25rem;

        &:before {
            content: attr(data-title);
            font-weight: bold;
        }

        &:after {
            content: '|';
            margin-left: 0.25rem;
            color: $GRAY_2;
        }

        &:last-child {
            &:after {
                content: '';
            }
        }

        &_success {
            color: $GREEN_3;
        }

        &_error {
            color: $RED_2;
        }
    }

    &__footer {
        text-align: center;
    }

    &__table {
        border: 8px solid #ffffff;
        border-top: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
