@import './../../common/mixins';

.main {
    display: flex;
    flex-direction: column;

    &__actual-data-wrapper {
        border-bottom: 1px dashed $GRAY_3;
        display: flex;
        justify-content: end;
        padding-top: 0.25rem;
        background-color: $WHITE;

        &_empty {
            border-bottom: none;
        }
    }

    &__count-of-stations {
        font-size: 14px;
        color: $RED_1;

        &:before {
            content: 'Total:';
            color: $GRAY_2;
            margin-right: 0.25rem;
        }

        &_mr0 {
            margin-right: 0;
        }
    }

    &__filter-button {
        margin-right: 1rem;
        text-decoration: underline;
        font-size: 14px;
    }

    &__actual-data-title {
        padding-bottom: 0.75rem;
        margin-right: auto;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;

        &_empty {
            padding-bottom: 0.25rem;
        }
    }

    &__actual-data-title-version {
        font-weight: 400;
        margin-left: 0.5rem;
        font-size: 12px;
    }

    z-spinner {
        height: 100%;
    }

    &__header {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $WELCOME_HEIGHT;
    }

    &__header-title {
        font-size: 36px;
    }

    &__header-uploud {
        display: flex;
        align-items: center;
    }

    &__header-uploud-file {
        display: flex;
        align-items: center;

        &_ml-auto {
            margin-left: auto;
            margin-right: 1.5rem;
        }
    }

    &__header-uploud-file-icon {
        width: 32px;
        margin-right: 0.25rem;
    }

    &__header-uploud-file-settings-title {
        font-weight: 500;
        font-size: 14px;
        text-decoration: underline;
    }

    &__header-uploud-file-settings-name {
        max-width: 200px;
        font-weight: 300;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__header-preview-button {
        margin-left: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $WHITE;
        background-color: $RED_2;
        transition: background-color 0.3s;
        font-size: 14px;
        padding: 0.5rem 1rem;

        &:hover {
            background-color: $RED_3;
        }
    }

    &__preview-table,
    &__actual-data {
        border: 8px solid $WHITE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        table * {
            color: $GRAY_2;
        }
    }

    &__preview-table {
        margin-bottom: 2rem;
        border-bottom: none;
    }

    &__valifdation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        background-color: $WHITE;
    }

    &__message {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        &_error .main__message-text {
            color: $RED_1;
        }
        &_success .main__message-text {
            color: $GRAY_2;
        }
    }

    &__message-text {
        font-size: 16px;
        font-weight: 500;
    }
    &__message-icon {
        width: 32px;
        margin-right: 1rem;
    }

    &__valifdation-button {
        padding: 0.375rem 1.5rem;
        background-color: $GRAY_4;
        transition: background-color 0.4s;
        color: $WHITE;

        &:hover {
            background-color: $GRAY_2;
        }

        &_success {
            background-color: $GREEN_2;

            &:hover {
                background-color: $GREEN_3;
            }
        }
    }
}
