@import './../../common/mixins';

.spinner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        width: 40px;
        animation: rotate 1s linear infinite;
    }

    &__text {
        margin-top: 0.75rem;
        color: $GRAY_4;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
