@import './../../common/mixins';

.login-form {
    background-color: $GRAY_3;
    padding: 1.5rem 2.5rem 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__title {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
            margin-top: 1.5rem;
            display: block;
            text-align: center;
        }
    }

    &__label {
        color: $GRAY_2;
    }

    &__input {
        padding: 0.25rem 0.25rem;
        width: 300px;
        max-width: 100%;
        font-size: 18px;
        border: 2px solid $GRAY_4;
    }

    &__message {
        margin-top: 1.5rem;
        color: $RED_1;
        text-align: center;
        font-weight: 500;

        &:empty {
            margin-top: 0;
        }
    }
}
