@import './../../common/mixins';

.backups {
    margin-top: 1.75rem;
    &__button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0.5rem;
        padding-left: 1rem;

        &:after {
            content: '';
            margin-left: auto;
            background: url('./../../icons/right-arrow.svg') no-repeat;
            background-size: contain;
            display: inline-block;
            width: 16px;
            height: 16px;
        }

        &.button_success {
            &:after {
                content: '';
                transform: rotate(90deg);
            }
        }
    }

    &__list {
        max-height: calc(100vh - 222px);
        overflow: auto;
        background-color: $GRAY_3;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    &__start {
        display: block;
        text-align: center;
        cursor: not-allowed;

        &_open {
            cursor: pointer;
        }
    }

    &__item {
        a {
            display: flex;
            font-size: 13px;
            align-items: center;
            padding: 0.75rem 0.5rem 0.75rem 1rem;
            border-bottom: 0.5px dashed $GRAY_5;

            &::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: 1px solid $GRAY_4;
                margin-right: 0.5rem;
            }
        }

        &:last-child {
            a {
                border-bottom: none;
            }
        }

        &_current {
            a {
                background-color: $BLUE_2;
                &::before {
                    content: '';
                    background-color: $BLUE_1;
                }
            }
        }

        &_empty {
            padding: 0.75rem 0.5rem 0.75rem 1rem;
            font-size: 16px;
            color: $GRAY_4;
            text-align: center;
        }
    }
}
