<template>
    <div class="backups">
        <a href="javascript:void(0);"
           onclick={toggleButton}
           class="button backups__button">UPLOADS</a>
        <template if:true={isButtonOpen}>
            <div class="backups__inner">
                <ul class="backups__list">
                    <template if:true={backupsItems}>
                        <template if:true={backupsItems.length}>
                            <template for:each={backupsItems}
                                      for:item="item">
                                <li key={item.value}
                                    class="backups__item"
                                    onclick={selectBackupItem}>
                                    <a href="javascript:void(0);">{item.label}</a>
                                </li>
                            </template>
                        </template>
                        <template if:false={backupsItems.length}>
                            <li class="backups__item backups__item_empty">
                                Empty List
                            </li>
                        </template>
                    </template>
                </ul>
                <a href="javascript:void(0);"
                   onclick={startRestore}
                   class="button backups__start">PREVIEW</a>
            </div>
        </template>
    </div>
</template>