@import './../../common/mixins';

.navigation {
    height: 100%;

    &__left {
        display: flex;
    }

    &__inner {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__status-message {
        color: $GRAY_4;
        font-size: 14px;
        margin-right: 2rem;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 0.5rem;
            background: url(./../../icons/spinner.svg) no-repeat;
            background-size: contain;
            animation: rotate 1s linear infinite;
        }
    }
}

.menu-burger {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;

    span {
        display: inline-block;
        background-color: $GRAY_2;
        width: 40px;
        height: 4px;
        margin: 4px 0;
        border-radius: 2px;
    }
}

.menu-logo {
    display: flex;

    &__img {
        height: $HEADER_HEIGHT * 0.35;
        margin-right: 1rem;
    }

    &__text {
        align-self: flex-end;
        color: $GRAY_2;
        font-size: 16px;
        line-height: 12px;
        text-transform: uppercase;
        font-weight: 300;
    }
}
