<template>
    <div class="container navigation">
        <div class="navigation__inner">
            <div class="navigation__left">
                <a href="/"
                   class="menu-logo">
                    <img src={images.logo}
                         class="menu-logo__img"
                         alt="Locator">
                </a>
                <div class="menu-logo__text">Locator stations uploader</div>
            </div>
            <div class="navigation__right">
                <template if:true={_showLogout}>
                    <a href="/admin/logout"
                       class="button-logout">
                        Logout
                    </a>
                </template>
            </div>
        </div>
    </div>
</template>